body {
    margin: 0 auto;
    max-width: 52em;
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
    font-size: 16px;
}

h1 {
    font-family: "Lucida Console", Monaco, monospace;
}

h1,
strong {
    font-weight: 1200;
    color: #333;
}

highlight {
    font-weight: 1200;
    color: #333;
    background-color: #a2dffb;
}

a {
    color: #03A9F4;
    word-wrap: break-word;
}

/* Make nav links wrap gracefully */
body>a {
    display: inline-block;
    margin: 0.2em 0;
}

a:visited {
    color: #3F51B5;
}

.responsive {
    width: 100%;
    height: auto;
}

blockquote {
    border-left: 3px solid #b0bec5;
    margin: 1.5em 0;
    padding: 0.5em 1.2em;
    color: #445;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

/* Mobile adjustments */
@media (max-width: 600px) {
    body {
        padding: 2em 1em;
        font-size: 18px;
        line-height: 1.6;
    }

    h1 {
        font-size: 1.5em;
    }
}