body {
    margin: 0 auto;
    max-width: 70em;
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
    font-size: 14px;
}

h1 {
    font-family: "Lucida Console", Monaco, monospace;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2,
strong {
    font-weight: 800;
    color: #333;
}

a {
  color: #03A9F4;
}

a:visited {
  color: #3F51B5;
}

.responsive {
    width: 100%;
    height: auto;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
